@import "tailwindcss";

@font-face {
  font-family: 'Baikal Trial';
  src: url('../../public/fonts/BaikalTrial-Light.woff2') format('woff2'),
    url('../../public/fonts/BaikalTrial-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Trial';
  src: url('../../public/fonts/BaikalTrial-Bold.woff2') format('woff2'),
    url('../../public/fonts/BaikalTrial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Trial';
  src: url('../../public/fonts/BaikalTrial-Medium.woff2') format('woff2'),
    url('../../public/fonts/BaikalTrial-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Trial';
  src: url('../../public/fonts/BaikalTrial-Regular.woff2') format('woff2'),
    url('../../public/fonts/BaikalTrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baikal Trial';
  src: url('../../public/fonts/BaikalTrial-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/BaikalTrial-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #000;
  --white-color: #fff;
  --my-font: "Onest", sans-serif;


}

html {
  font-size: 16px;
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Baikal Trial';
}

.font-weight-100 {
  font-weight: 100 !important;
}

.font-weight-200 {
  font-weight: 200 !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.section-padding {
  padding: 80px 0;
}

.my-font {
  font-family: var(--my-font) !important;
}

.btn1 {
  background: #000;
  color: var(--white-color);
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 50vw;
  border: none;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0.8rem 2.85rem 0.8rem 1.25rem;
  cursor: pointer;
  line-height: 1;
}

.btn1 .icon {
  background: var(--white-color);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  right: 0.3em;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.btn1:hover .icon {
  width: calc(100% - 0.6em);
  height: calc(100% - 0.6em);
  border-radius: 50vw;
}

.btn1 .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--primary-color);
  border-radius: 0.5rem;
}

.btn1:hover .icon svg {
  transform: translateX(0.1em);
}

.container-fluid {
  padding: 0 14.5rem;
}

nav {
  height: 70px;
  align-content: center;
  border-bottom: 1px solid #CFCFCF;
}

nav .logo {
  min-width: 132px;
}

nav .logo span {
  font-size: 2rem;
}

nav ul li .my-nav-link {
  margin: 0 1rem;
  position: relative;
  padding: 8px 0 !important;
}

nav ul li .my-nav-link::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 0;
  transition: all 0.25s ease-in-out;
  height: 2px;
  background-color: var(--primary-color);
}

nav ul li .my-nav-link:hover::before {
  width: 100%;
}

nav ul li .my-nav-link:hover {
  color: var(--primary-color);
}

.hero {
  /* height: calc(100vh - 70px); */
  padding: 3.5rem 0;
  padding-top: 3rem;
}

.hero h5 {
  font-size: 28px;
  margin-bottom: 0.85rem;
}

.hero h1 {
  font-size: 54px;
  line-height: 74px;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 20px;
  line-height: 2rem;
  margin-bottom: 2.025rem;
}

.hero .avail {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: rgba(40, 199, 111, 0.14);
  color: #03823C;
  border-radius: 50vw;
  font-size: 0.875rem;
  line-height: 1;
}

.about h2 {
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin-bottom: 2.5rem;
}

.fade-container {
  top: 0;
}

.fade-title-padd {
  padding-top: 14rem;
  padding-bottom: 5rem;
}

.fade-title {
  font-size: 300px;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.portfolio .pro-content {
  padding: 1.75rem 2rem;
  padding-top: 1.5rem;
}

.portfolio .pro-content h3 {
  font-size: 26px;
  margin-bottom: 0.5rem;
}

.portfolio .pro-content p {
  margin-bottom: 1.5rem;
  line-height: 26px;
}

.my-badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border: 1px solid #E9E9E9;
  background: linear-gradient(to bottom, #EEEEEE 0%, #e2e2e2c9 100%);
  border-radius: 50vw;
}

.services h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.services p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 1.5rem 0;
}

.services li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.services li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M12 22L8 18H16L12 22ZM12 2L16 6H8L12 2ZM12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14ZM2 12L6 8V16L2 12ZM22 12L18 16V8L22 12Z"/></svg>') no-repeat center;
  background-size: contain;
}